@import "tailwindcss";

:root {
  --accent: #3b82f6;
  --accent-strong: #2563eb;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-geist-sans), Arial, Helvetica, sans-serif;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #404040 transparent;
}
